.platform-container {
    display: flex;
    padding-top: 20px;
}

.addShelfButton {
    margin: auto;
}

.rmvButton,
.addButton {
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 8px;
    color: white;
    text-align: center;
    margin: 10px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: auto;
    height: auto;
    font-size: 0.9rem;
}

.addButton {
    background-color: #46b461;
}

.rmvButton {
    background-color: #e75454;
}

.already-div {
    width: 100%;
}

.game-info {
    width: 40%;
}

.Review_container {
    width: 40%;
}

.stars {
    display: flex;
    justify-content: center;
}

textarea {
    width: 70%;
    height: 130px;
    resize: none;
}

.review {
    background-color: #e2cec6;
    padding: 5px;
    border: 2px solid #cfcbc8;
}

.review p {
    text-align: left;
    padding-inline: 10px;
}

.review-top {
    display: flex;
    justify-content: space-between;
    height: auto;
}

.review-top h2 {
    margin: 0;
}

.game-card {
    width: 60%;
    display: flex;
    margin: 20px;
}

.title h1 {
    text-align: left;
    margin: 0;
}

.buttons-and-rating {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: flex-start;
    margin: 0;
}
.buttons-message{
text-align: center;}

.game-sidebar {
    margin-left: 20px;
    text-align: left;
}

.shelf-buttons {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-top: 15px;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 50%;
}

.fav-button {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}

.form-button {
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 8px;
    background-color: #548fe7;
    color: white;
    text-align: center;
    margin: 10px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: auto;
    height: auto;
    font-size: 0.9rem;
}

.buttons-container p {
    margin: 0;
}

.creds-and-date {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0;
    width: 100%;
}

.creds-and-date h3 {
    margin-bottom: 3px;
    font-size: 1rem;
}

.game-info {
    display: flex;
    width: 100%;
}

.reviews-list {
    padding-top: 25px;
}

.genre-container {
    display: flex;
    text-align: left;
    gap: 5px;
    font-weight: bold;
    text-decoration: underline;
    width: 70%;
    flex-wrap: wrap;
}

.genre {
    cursor: pointer;
    margin: 1px;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    background-color: white;
    border: 2px solid #a1a1a1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

.popup input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.popup button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup button:hover {
    background-color: #45a049;
}

.popup button:focus {
    outline: none;
}
.hours-input{
    width: 40px;
}